:root{
    --primary-color: #FFC208;
    --secondary-color: #FF0833;
    --theerdary-color: #4D4D4D;
    --border-color: #000;
    --white-color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

html{
    font-size: 62.5%;
}

.phone{
    display: none;
}
.desktop{
    display: block;
}

/*
.nav_top-content{
    width: 100vw;
    height: 12vh;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 1vw;
}

.nav_top-content img{
    width: 15vh;
}

#nav_top-seach{
    height: 8vh;
    width: 20vw;
    margin: 5vh 0;
    display: flex;
    justify-content: center;
}

#nav_top-seach input{
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}
#nav_top-seach button{
    width: 10%;
    height: 100%;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--primary-color);
}

#nav_top-link{
    font-size: 2.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

#nav_top-link li{
    margin: 0 1vw;
    text-decoration: none;
}

#nav_top-link a{
    color: black;
    text-decoration: none;
}

#nav_top-shopping img{
    width: 10vw;
    height: 10vh;
    margin: 1vh 1vw;
    
}

#nav_decor-top-bar{
    width: 100vw;
    height: 0.5vh;
    background-color: var(--primary-color);
}

#nav_decor-right-triangle{
    position: absolute;
    top: 2vh;
    right: -16.5vw;
    width: 10vw;
    height: 10vh;
    border-left: 10vh solid transparent;
    border-right: 10vw solid transparent;
    border-bottom: 10vh solid var(--primary-color);
}

#nav_category-content{
    width: 100vw;
    height: 6vh;
    font-size: 2rem;
    font-weight: 450;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--white-color);
}

#nav_category-content li{
    list-style: none;
}

.nav_category-decor{
    width: 0.15vw;
    height: 4vh;
    opacity: 0.5;
    background-color: var(--theerdary-color);
}

#nav_category-content a{
    text-decoration: none;
    color: black;
}

#nav_decor-bottom-bar{
    width: 100vw;
    height: 1vh;
    background-color: var(--secondary-color);
}

#nav_decor-left-triangle{
    position: absolute;
    top: 18.5vh;
    left: -16.5vw;
    width: 10vw;
    height: 10vh;
    rotate: 180deg;
    border-left: 10vw solid transparent;
    border-right: 10vw solid transparent;
    border-bottom: 10vh solid var(--secondary-color);
}
*/

