:root{
    --primary-color: #FFC208;
    --secondary-color: #FF0833;
    --theerdary-color: #4D4D4D;
    --border-color: #000;
    --white-color: #fff;
    --font-size-title: 2rem;
    --font-size-text: 1.7rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

html{
    font-size: 62.5%;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 270vh;
    background-image: url('../source/img/logo-cdc.png'); /* Reemplaza '../source/img/logo-cdc.png' con la ruta relativa a tu imagen */
    background-repeat: repeat; /* Repetir la imagen horizontalmente */
    background-size: 25%; /* Controla el tamaño de la imagen. Ajusta los valores según tus necesidades */
    /* Otros estilos opcionales */
    filter: saturate(0.00) opacity(0.05); /* Ajusta el valor según tus necesidades */
    z-index: -1;
}

.phone{
    display: block;
}

.desktop{
    display: none;
}

#nav_top-content-p{
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
    position: fixed;
    top: 0;
    z-index: 500;
}

#nav_top-content-p img{
    max-width: 32vw;
    max-height: 12vh ;
}

#nav_top-p{
    height: 8vh;
}

#nav_top-seach-p{
    margin: 0 2vw;
    height: 4.5vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav_top-seach-p input{
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-color);
}

#nav_top-seach-p button{
    width: 30%;
    height: 100%;
    position: relative;
    left: -4vw;
    background-color: var(--primary-color);
    border: 0px solid var(--border-color);
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0% 100%);
    box-shadow: 1px 1px 0px 0.5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}



#nav_top-seach-p button img{
    width: 100%;
    height: 100%;

}

.nav_top-link-decor{
    width: 0.5vw;
    height: 4vh;
    rotate: 10deg;
    opacity: 0.5;
    background-color: var(--theerdary-color);
}

#nav_top-link-p{
    margin: 1vh 1vw;
    height: 4vh;
    display: flex;
    align-items: end;
    justify-content: space-around;

}

#nav_top-link-p img{
    width: 9vw;
}

.side-nav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: var(--white-color);
    border-left: #4D4D4D 1vw solid;
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
}

.side-nav:target {
    width: 65vw;
}

.side-nav-titles{
    text-decoration: none;
    font-size: 2.5rem;
    color: var(--primary-color);
}

.side-nav-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    height: 45vh;
}

.side-nav-content a {
    text-decoration: none;
    font-size: 2.5rem;
    color: var(--border-color);
    display: block;
    transition: 0.3s;
}



.side-nav .closebtn {
    position: absolute;
    top: 4.5vh;
    right: 5.5vw;
    font-size: 5rem;
    margin-left: 50px;
}

.nav_side-decor{
    width: 60vw;
    border: var(--theerdary-color) 1px dotted;
}

#nav_decor-top-bar{
    top: 12vh;
    width: 100vw;
    height: 0.4vh;
    background-color: var(--primary-color);
    position: fixed;
    z-index: 600;
}

#nav_decor-right-triangle{
    position: fixed;
    z-index: 600;
    top: 2vh;
    right: -16.5vw;
    width: 10vw;
    height: 10vh;
    border-left: 10vw solid transparent;
    border-right: 10vw solid transparent;
    border-bottom: 10vh solid var(--primary-color);
}

#nav_decor-bottom-bar{
    width: 100vw;
    height: 1vh;
    background-color: var(--primary-color);
}

#nav_decor-left-triangle-p{
    position: absolute;
    top: 12vh;
    left: -16.5vw;
    width: 10vw;
    height: 10vh;
    rotate: 180deg;
    border-left: 10vw solid transparent;
    border-right: 10vw solid transparent;
    border-bottom: 10vh solid var(--primary-color);
}

#welcome-text_content{
    margin-top: 13vh;
    width: 100vw;
    height: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-text_content h2{
    font-size: var(--font-size-title);
    font-weight: 450;
    color: var(--secondary-color);
    text-align: center;
}

#welcome-text_content h3{
    font-size: 1.55rem;
    font-weight: 450;
    margin: 1vh 0 0 0;
}

#welcome-image_content{
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
}

#welcome-image_content img{
    width: 95%;
    max-height: 100vw;
    object-fit: cover;
}

#category_content{
    width: 100vw;
}

#category_content h2{
    padding: 2vh 0 0 3vw;
    font-size: var(--font-size-title);
    font-weight: 450;
    color: var(--secondary-color);
}

#category-decor{
    position: relative;
    left: 2vw;
    top: 0.2vh;
    width: 45vw;
    height: 0.3vh;
    background-color: var(--primary-color);
}

#category-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8vw;
    padding: 1vh 4vw;
}

.category-card{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
}

.category-card-content{
    width: 100%;
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-card-content img{
    width: 80%;
    z-index: -1;
    position: relative
}

#category-card-1{
    top: 3vh;
}
#category-card-2{
    top: 3vh;
    rotate: 272deg;
}
#category-card-3{
    top: 4vh;
    width: 95%;
    rotate: 270deg;
}
#category-card-4{
    top: 4vh;
    width: 95%;
    width: 50%;
}
#category-card-5{
    top: 3vh;
    width: 70%;
    rotate: 2deg;
    
}
#category-card-6{
    top: 3vh;
    width: 70%;
}

.category-card-footer-conent{
    display: flex;
    flex-direction: row;
}


.category-card-footer-pre{    
    height: 6vh;
    width: 5%;
    position: absolute;
    background-color: var(--theerdary-color);
    opacity: 0.9;
    clip-path: polygon(80% 0, 100% 0, 20% 100%, 0% 100%);
    z-index: 100;
}


.category-card-footer{
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    clip-path: polygon(10% 0%, 100% 0, 90% 100%, 0% 100%);
}

#about-us{
    width: 100vw;
}

#about-us h2{
    padding: 2vh 0 0 3vw;
    font-size: var(--font-size-title);
    font-weight: 450;
    color: var(--secondary-color);
}

#about-us_decor{
    position: relative;
    left: 2vw;
    top: 0.2vh;
    width: 55vw;
    height: 0.3vh;
    background-color: var(--primary-color);
}

#about-us_image img{
    width: 100vw;
    padding: 2vh 7vw;
}

#about-us_text{
    width: 100vw;
    height: 50vh;
    padding: 0vh 7vw;
}

#about-us_text p{
    font-size: var(--font-size-text);
    text-align: justify;
}

#contact-us_content{
    width: 100vw;
    height: 25vh;
    
}

#contact-us_content h2{
    padding: 2vh 0 0 3vw;
    font-size: var(--font-size-title);
    font-weight: 450;
    color: var(--white-color);
}

#contact-us_background{
    width: 100vw;
    height: 25vh;
    position: absolute;
    background-color: var(--theerdary-color);
    opacity: 0.5;
    z-index: -1;
}

#contact-us_redes{
    width: 100vw;
    height: 19vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contact-us_redes div{
    max-width: 33vw;
}

#contact-us_redes a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
}

#contact-us_redes img{
    width: 23vw;
}


#contact-us_whatsapp img{ 
    width: 22vw;
}

#contact-us_redes img:hover{
    transform: scale(1.1);
}

#footer_content{
    width: 100vw;
    height: 14vh;
    position: absolute;
    background-color: var(--theerdary-color);
    opacity: 0.9;
    z-index: -1;
}

#footer_logo img{
    
    height: 8vh;
    margin: 2vh 0 0 1vw;
    filter: saturate(0.00) opacity(0.4);
} 

.footer_contents{
    width: 100vw;
    height: 3vh;
    color: #d5d5d5;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#footer_content-1{
    width: 100vw;
    height: 8vh;
    justify-content: space-around;

}

#footer_content-1 a{
    text-decoration: none;
    color: #d5d5d5;
}

#footer_links{
    margin: 2vh 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#footer_content-3{
    margin: 2vh 0 0 0;
    justify-content: center;
}