:root{
    --primary-color: #FFC208;
    --secondary-color: #FF0833;
    --theerdary-color: #4D4D4D;
    --border-color: #000;
    --white-color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

html{
    font-size: 62.5%;
}

.phone{
    display: none;
}
.desktop{
    display: block;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 305vh;
    background-image: url('../source/img/logo-cdc.png');
    background-repeat: repeat;
    background-size: 10%;
    filter: saturate(0.00) opacity(0.05);
    z-index: -1;
}

nav{
    position: fixed;
    top: 0;
    z-index: 1000;
}

.nav_top-content{
    width: 100vw;
    height: 12vh;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 1vw;
}

.nav_top-content img{
    width: 15vh;
}

#nav_top-seach{
    height: 8vh;
    width: 20vw;
    margin: 5vh 0;
    display: flex;
    justify-content: center;
}

#nav_top-seach input{
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}
#nav_top-seach button{
    width: 10%;
    height: 100%;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--primary-color);
}

#nav_top-link{
    font-size: 2.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

#nav_top-link li{
    margin: 0 1vw;
    text-decoration: none;
}

#nav_top-link a{
    color: black;
    text-decoration: none;
}

#nav_top-shopping img{
    width: 10vw;
    height: 10vh;
    margin: 1vh 1vw;
    
}

#nav_decor-top-bar{
    width: 100vw;
    height: 0.5vh;
    background-color: var(--primary-color);
}

#nav_decor-right-triangle{
    position: absolute;
    top: 2vh;
    right: -16.5vw;
    width: 20vw;
    height: 10vh;
    border-left: 10vh solid transparent;
    border-right: 10vw solid transparent;
    border-bottom: 10vh solid var(--primary-color);
}

#nav_category-content{
    width: 100vw;
    height: 6vh;
    font-size: 2rem;
    font-weight: 450;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--white-color);
}

#nav_category-content li{
    list-style: none;
}

.nav_category-decor{
    width: 0.15vw;
    height: 4vh;
    opacity: 0.5;
    background-color: var(--theerdary-color);
}

#nav_category-content a{
    text-decoration: none;
    color: black;
}

#nav_decor-bottom-bar{
    width: 100vw;
    height: 1vh;
    background-color: var(--secondary-color);
}

#nav_decor-left-triangle{
    position: absolute;
    top: 18.5vh;
    left: -16.5vw;
    width: 20vw;
    height: 20vh;
    rotate: 180deg;
    border-left: 10vh solid transparent;
    border-right: 10vw solid transparent;
    border-bottom: 10vh solid var(--secondary-color); 
}

#welcome-text_content{
    margin: 19vh 0 0 0;
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-image_content{
    
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;

}

#welcome-image_content img{
    width: 95%;
    height: 100%;
    object-fit: cover;
}

#category_content{
    width: 100vw;
}

#category_content h2{
    padding: 2vh 0 0 3vw;
    font-size: 2.5rem;
    font-weight: 450;
    color: var(--secondary-color);
}

#category-decor{
    position: relative;
    left: 2vw;
    top: 0.2vh;
    width: 17vw;
    height: 0.5vh;
    background-color: var(--primary-color);
}

#category-grid{
    margin: 6vh 4vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8vw;
}

.category-card{
    height: 30vh;
    display: flex;
    flex-direction: column;
}

.category-card-content{
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.category-card-content img{
    width: 18vw;
    z-index: -1;
    position: relative
}

#category-card-1{
    top: 3vh;
}
#category-card-2{
    top: 3vh;
    rotate: 272deg;
}
#category-card-3{
    top: 4vh;
    width: 95%;
    rotate: 270deg;
}
#category-card-4{
    top: 4vh;
    width: 95%;
    width: 50%;
}
#category-card-5{
    top: 3vh;
    width: 70%;
    rotate: 2deg;
    
}
#category-card-6{
    top: 3vh;
    width: 70%;
}


.category-card-footer-conent{
    display: flex;
    flex-direction: row;
}


.category-card-footer-pre{    
    height: 8vh;
    width: 17vw;
    position: absolute;
    background-color: var(--theerdary-color);
    opacity: 0.9;
    clip-path: polygon(10% 0, 15% 0, 5% 100%, 0% 100%);
    z-index: 100;
}

.category-card-footer{
    width: 17vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    clip-path: polygon(10% 0%, 100% 0, 90% 100%, 0% 100%);
}

#about-us{
    width: 100vw;
}

#about-us h2{
    padding: 2vh 0 0 3vw;
    font-size: 2.5rem;
    font-weight: 450;
    color: var(--secondary-color);
}

#about-us_decor{
    position: relative;
    left: 2vw;
    top: 0.2vh;
    width: 20vw;
    height: 0.5vh;
    background-color: var(--primary-color);
}

#about-us_content{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
}

#about-us_image{
    width: 40vw;
    height: 80vh;
    padding: 0 10vw;
    display: flex;
    justify-content: center;
}

#about-us_image img{
    width: 80vh;
    object-fit: cover;
}

#about-us_text{
    width: 60vw;
    height: 80vh;
    padding: 0 5vw;
    display: flex;
    align-items: center;
}

#about-us_text p{
    font-size: 2.5rem;
    text-align: justify;
}

#contact-us_content{
    width: 100vw;
    height: 30vh; 
}

#contact-us_content h2{
    padding: 2vh 0 0 3vw;
    font-size: 2.5rem;
    font-weight: 450;
    color: var(--white-color);
}

#contact-us_background{
    width: 100vw;
    height: 30vh;
    position: absolute;
    background-color: var(--theerdary-color);
    opacity: 0.5;
    z-index: -1;
}

#contact-us_redes{
    width: 100vw;
    height: 20vh;
    padding: 0 15vw 0 15vw;
    position: relative;
    top: -2.5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contact-us_redes a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
}

#contact-us_redes img{
    width: 10vw;
}


#contact-us_whatsapp img{ 
    width: 9.5vw;
}

#contact-us_redes img:hover{
    transform: scale(1.1);
}

#footer_background{
    width: 100vw;
    height: 15vh;
    position: absolute;
    background-color: var(--theerdary-color);
    opacity: 0.9;
    z-index: -1;
}

#footer_logo img{
    height: 20vh;
    
    filter: saturate(0.00) opacity(0.4);
} 

.footer_contents{
    width: 100vw;
    color: #d5d5d5;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#footer_content-1{
    width: 100vw;
    height: 8vh;
    justify-content: space-around;

}

#footer_links{
    width: 80vw;
    display: flex;
    justify-content: space-around;
}

#footer_content-1 a, #footer_content-1 p {
    text-decoration: none;
    color: #d5d5d5;
    font-size: 1.8rem;
}

.footer_links-decor{
    width: 0.15vw;
    height: 4vh;
    background-color: var(--white-color);
    opacity: 0.8;
}

#footer_content-3{
    margin: 2vh 0 0 0;
    justify-content: center;
}